* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.App {
  text-align: center;
  padding-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin-left: 4em;
  margin-right: 4em;
}

body,
html {
  background-image: url("./img/global-connections.jpg");
  background-color: #342c6b;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.search-img {
  height: 2em;
  width: 2em;
  background-color: white;
}

.search-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-content: center;
  border-bottom: 0.1em solid;
}

input.city {
  border: #34a1eb 1px solid;
}


.header {
  margin-bottom: 1em;
}

.appTitle,
.slogan {
  padding: 0.2em;
  color: white;
}

.appTitle {
  text-shadow: 0.1em 0.1em 0.1em #1beeff;
}

h4.chart-heading {
  color: white;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-shadow: 0.1em 0.1em 0.1em #1beeff;
  font-size: 1.2em;
}

.event {
  background-color: white;
  /* display: flex;
  flex-direction: column; */
  line-height: 2em;
  border: black 0.1em solid;
  padding: 0.4em;
  border-radius: 1em;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-inline: auto;
  -webkit-box-shadow: 0.3em 0.4em 0.5em #1beeff;
  box-shadow: 0.3em 0.4em 0.5em #1beeff;
}


.location,
.calendar,
.start-date-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.location-img,
.google-calendar-link,
.time-img {
  height: 2em;
  width: 2em;
}

.about-heading {
  font-weight: 700;
  margin-block: auto;
  -webkit-text-decoration: underline 0.1em #34a1eb;
  text-decoration: underline 0.1em #34a1eb;
}

.EventList {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  gap: 2em;
}

.CitySearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background-color: white;
  border-bottom: 0.1em solid black;
  border-top: 0.1em solid black;
  width: 15em;
  border-radius: 0.5em;
}


.search-input {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input .search-input:hover,
.search-input:focus {
  outline-width: 0;
}


ul.suggestions {
  background-color: gainsboro;
  width: 100%;
  padding: 1em;
}

li {
  list-style: none;
}

.suggestions {
  position: relative;
  z-index: 2;
  margin: 0 20px 0 0;
  font-size: 14px;
}

.city-warning-div,
.event-number-alert,
.offline-warning-div {
  font-size: 0.8em;
}

.suggestions>.single-suggestion:hover,
.single-suggestion:focus,
.suggestions>.all-cities:hover,
.all-cities:focus {
  background-color: #63b7c9;
  cursor: pointer;
  font-weight: bold;
}

.name {
  font-weight: 700;
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.description {
  line-height: 1.5em;
  border-radius: 0.5em;
}

button {
  padding: 0.5em;
  border: 0.1em solid black;
  border-radius: 0.3em;
}

.show-details-btn,
.hide-details-btn {
  background-color: #63b7c9;
  cursor: pointer;
}

.show-details-btn:hover,
.hide-details-btn:hover .show-details-btn:focus,
.hide-details-btn:focus {
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  -o-transition-property: background-color, transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
  outline-style: none;
}

.numberOfEvents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.7);
  color: white;
  padding: 2em;
}

.slogan {
  min-width: 0;
  font-size: 1em;
}

input.inputEventNumber {
  width: 2em;
  font-size: 1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*Iphone 11 media query*/
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {

  body,
  html {
    background-image: url("./img/phone-image2.jpeg") !important;
    background-attachment: scroll !important;
    background-position: center !important;
    background-repeat: none !important;
    background-size: cover !important;
  }
}

@media screen and (min-width: 200px) and (max-width: 425px) and (min-height: 1000px) and (max-height: 1200px) {
  body {
    margin: unset;
  }
}


@media screen and (min-width: 1440px) and (max-width: 1440px) and (min-height: 821px) and (max-height: 821px) {
  .event {
    min-height: 12em;
  }

  .show-details-btn,
  .hide-details-btn {
    height: 3em;
  }

  .name {
    min-height: 3rem;
  }

}

/* For screens with the dimension 1024 x 821 */
@media screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 821px) and (max-height: 821px) {
  .event {
    min-height: 10em;
    width: 20em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .show-details-btn,
  .hide-details-btn {
    height: 45px;
  }

  .name {
    min-height: 3rem;
  }
}

/* For screens with the dimension 768 x 821 */
@media screen and (min-width: 768px) and (max-width: 768px) and (min-height: 821px) and (max-height: 821px) {
  .event {
    min-height: 10em;
    width: 20em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .show-details-btn,
  .hide-details-btn {
    height: 45px;
  }

  .name {
    min-height: 3rem;
  }
}

/* For screens with the dimension 425 x 821 */
@media screen and (min-width: 425px) and (max-width: 425px) and (min-height: 821px) and (max-height: 821px) {
  .event {
    min-height: 10em;
    width: 20em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .show-details-btn,
  .hide-details-btn {
    height: 45px;
  }

  .name {
    min-height: 3rem;
  }
}

/* For screens with the dimension 375 x 821 */
@media screen and (min-width: 375px) and (max-width: 375px) and (min-height: 821px) and (max-height: 821px) {
  .event {
    min-height: 10em;
    width: 20em;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .show-details-btn,
  .hide-details-btn {
    height: 45px;
  }

  .name {
    min-height: 3rem;
  }
}





@media screen and (min-device-width: 1500px) and (max-device-width: 2600px) {
  .event {
    width: 16em;
    border: black 0.1em solid;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 17em;
  }

  .search-input {
    width: 35em;
    font-size: 1em;
    height: 3em;
  }

  .suggestions {
    font-size: 1.4em;
  }

  .city-warning-div {
    font-size: 1.1em;
  }

  .header {
    line-height: 5em;
  }

  .appTitle {
    font-size: 4em;
  }

  .show-details-btn,
  .hide-details-btn {
    width: 6em;
    width: 4em;
  }

  .description {
    font-size: 1.1em;
    line-height: 1.2em;
  }

  .slogan {
    font-size: 1.5em;
  }

  .numberOfEvents {
    font-size: 1.2em;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}